:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --bg-additonal: #3e3e4a;
  --text-additonal: #ececec;
  --main-green: #2ecc71;
  --additional-green: #27ae60;
}
html {
  scroll-behavior: smooth;
}
/* -----------------------NAVIGATION------------------------*/

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #b6b6b6;
    --background: #ececec;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #1f1f1f;
    --background: #000000;
  }
} */

body {
  color: var(--text-additonal);
  background-color: var(--bg-additonal);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #2ecc71;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #2ecc71;
}

.fa-secondary {
  color: #27ae60;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

/* .logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
} */

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-additonal: #3e3e4a;
  --text-additonal: #ececec;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-additonal: #b6b6b6;
  --text-additonal: #000000;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --bg-additonal: #fefbf3;
  --text-additonal: #35535c;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* ----------------------------------------------------------*/
/* -------------------------CONTENT--------------------------*/

section#welcome {
  height: 100vh;
  padding: 10px;
}

.welcome__wrapper,
.about__wrapper {
  height: 100%;
}

.welcome__branding {
  display: flex;
}

h2.welcome__logo {
  padding: 1.2rem 1rem;
  border: 1px solid var(--main-green);
  margin-left: 1rem;
}

h2.welcome__sub-title {
  color: #2ecc71;
  font-size: 3rem;
  margin-left: 1rem;
}

.welcome__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1.welcome__title {
  font-size: 5rem;
  width: 60%;
  margin: 3rem 0;
  text-align: center;
}

.welcome__middle::after {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--main-green);
  position: relative;
}

.welcome__bottom {
  width: 100%;
  height: 20vh;
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.welcome__bottom-left,
.welcome__bottom-right {
  width: 50%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

p.welcome__description {
  font-size: 1.6rem;
  margin: 0.2rem 0;
  text-align: center;
}

a.welcome__projects-btn {
  color: var(--text-secondary);
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px;
  padding: 15px;
  background: var(--main-green);
  border-radius: 5px;
  font-weight: bold;
}

.welcome__social {
  margin: 1rem;
  display: flex;
  width: 80%;
}

a.welcome__social-link {
  text-decoration: none;
  color: var(--text-additonal);
}

i.fab {
  padding: 10px;
  font-size: 2.5rem;
}

section#about {
  position: relative;
  background: var(--bg-secondary);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(46, 204, 113, 0.3);
  -moz-box-shadow: 0px 0px 8px 1px rgba(46, 204, 113, 0.3);
  box-shadow: 0px 0px 8px 1px rgba(46, 204, 113, 0.3);
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__content {
  display: flex;
  height: 340px;
}

.about__left,
.about__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.about__title {
  font-size: 3rem;
  z-index: 10;
  position: relative;
}

h2.about__title::after {
  content: "";
  position: relative;
  width: 230px;
  height: 50px;
  border: 2px solid var(--main-green);
  background: transparent;
  display: block;
  bottom: 66px;
  left: -28px;
  z-index: -1;
}

img.about_photo {
  width: 280px;
  height: 280px;
  border-radius: 2px;
  position: relative;
  z-index: 10;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.about__right::after {
  content: "";
  position: relative;
  width: 290px;
  min-height: 290px;
  border: 2px solid var(--main-green);
  background: transparent;
  display: block;
  bottom: 298px;
  left: -12px;
  z-index: 0;
}

.about__technology {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about__technology-box {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2.technology-box__title {
  color: var(--main-green);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

h4.technology-box__sub-title {
  margin: 0px 0 20px;
}

.technology-box__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.technology-box__item {
  width: 30%;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technology-box__item.fab,
.technology-box__item.iconify {
  font-size: 3rem;
  text-align: center;
  padding: 0.4rem !important;
}

svg.technology-box__item.iconify {
  filter: grayscale(1);
}

section#projects {
  padding: 10px;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.projects__title {
  font-size: 3rem;
}

h2.projects__title::after {
  content: "";
  position: relative;
  width: 270px;
  height: 50px;
  border: 2px solid var(--main-green);
  background: transparent;
  display: block;
  bottom: 66px;
  left: -22px;
  z-index: -1;
  margin: 0 !important;
}

.projects__item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

a.projects__link {
  width: 50%;
}

.projects__item__description {
  width: 50%;
  box-sizing: border-box;
  padding: 10px 20px;
}

img.projects__item__image {
  width: 100%;
  filter: grayscale(1);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

a.projects__link {
  color: var(--main-green);
  text-decoration: none;
}

h3.projects__item__title {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

a.projects__external-link {
  color: var(--additional-green);
  font-size: 1.6rem;
  padding: 10px;
}

.projects__item:nth-child(even) {
  flex-direction: row-reverse;
}

.projects__item__image.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  height: 230px;
  background: #ffffff;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ffffff 9%,
    #e5e5e5 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffffff 9%,
    #e5e5e5 100%
  );
  background: radial-gradient(ellipse at center, #ffffff 9%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}

a.projects__link {
  color: var(--main-green);
  text-decoration: none;
}

section#contact {
  padding: 10px;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.contact__title {
  font-size: 3rem;
}

h2.contact__title::after {
  content: "";
  position: relative;
  width: 262px;
  height: 50px;
  border: 2px solid var(--main-green);
  background: transparent;
  display: block;
  bottom: 66px;
  left: -22px;
  z-index: -1;
  margin: 0 !important;
}

.contact__content {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact__left,
.contact__right {
  width: 50%;
  padding: 10px;
}

footer#footer {
  margin-left: 5rem;
  padding: 1rem;
  background: var(--bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

p.footer__text {
  margin: 0;
  color: var(--additional-green);
}
/* -----------------ANIMATIONS----------------- */
